<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cont+ent-Language" content="en" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="favicon.png" type="image/gif" sizes="16x16">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

 <title>Snake Game</title>
 
</head>

<body>
  
<header>
            <h1>
                Snake Game🐍
            </h1>
        </header>
        
        <canvas id="snake" width="608" height="608"></canvas>
        <button onclick="restart()">Restart</button>
    </body>
    <script src="js/snake.js"></script>
 
</body>
</html>
