@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Commissioner", sans-serif;
    height: 100vh;
    background: #fcefee;
}

canvas {
    display: block;
    margin: 0 auto;
}

body::before,
body::after {
    content: "";
    position: absolute;
    height: 380px;
    width: 380px;
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

body::before {
    transform: translateY(20px);
    background: #c5e3f6;
    left: -200px;
    top: -100px;
}

body::after {
    background: #fccde2;
    left: -100px;
    top: -200px;
}

header::before {
    content: "";
    height: 600px;
    background: #c5e3f6;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    right: 0%;
    bottom: 0%;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #004953;
}

button {
    background: #fc5c9c;
    border: none;
    text-align: center;
    margin-left: 5rem;
    margin-bottom: -10vh;
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    font-weight: 550;
    color: #fff;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}